[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/wei-names"]
	path = lib/wei-names
	url = https://github.com/z0r0z/wei-names
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
