# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/
!/broadcast/*/31337/

# Forge Docs (generated)
forge-doc/

# Node modules
node_modules/

# Dotenv file
.env

# Coverage
coverage/
lcov.info
